h1{
  text-align: center;
}
.box{
  margin-top: 20px;
  height: 150px;
  width: 500px;
  border: 1px solid #000;
  border-radius: 8px;
}
.modla-flex{
 display: flex;
 justify-content: space-between;
 padding: 8px;
 font-weight: 600;
}
.onemodal span{
  color: blue;
 font-weight: 800;
}
.twomodal span{
  color: #000;
 font-weight: 700;
 cursor: pointer;
}
.pra p{
 color: gray;
  font-weight: 500;
  padding: 3px 12px;
  
}
.btn{
  background-color: rgb(118, 24, 205);
  color: #fff;
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  outline: none;
  margin: 5px;
}